#tabla{
    width: 100%;
}

#col{
    width: 30%;
    margin-right: 10%;
}

#pelo{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#titulo{
    padding: 5%;
    display: flex;
    justify-content: center;
}

#titulo2{
    width: 60%;
    display: flex;
    justify-content: center;
    
}

#e{
    display: flex;
    justify-content: center;
}
